# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/

# Tooling
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# Data & artifacts
data/raw/
data/processed/
data/scoring_log.parquet
mlruns/
mlartifacts/
reports/*.html

# Env
.env

# OS / editors
.DS_Store
.idea/
.vscode/
mlflow.db
